<div class="main-container">
    <div *ngIf="isToastVisible$ | async">
        <app-toast></app-toast>
    </div>

    <div class="flex m-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-4 rounded" routerLink="/homepage">Back to homepage</button>
    </div>

    <div class="article-item" *ngFor="let article of articles">
        <div class="article-container">
            <div class="votes-container">
                <div class="vote-value">{{article.votes}} Points</div>
                <span class="bg-red-500 hover:bg-red-700 text-white font-bold cursor-pointer p-4 m-4 rounded" (click)="removeArticle(article)">X</span>
                <button class="bg-green-700 hover:bg-green-900 text-white font-bold p-4 m-4 rounded" (click)="voteUp(article)">Vote up</button>
                <button class="bg-red-700 hover:bg-red-900 text-white font-bold p-4 m-4 rounded" (click)="voteDown(article)">Vote down</button>
                <button class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold p-4 m-4 rounded" (click)="startUpdate(article)">Update</button>
            </div>
            <div class="votes-container">
                <ng-container *ngIf="isUpdateMode(article); else displayTitleAndLink">
                    <div class="form-group">
                        <label class="text-gray-700 text-sm font-bold" for="updatedTitle">Updated Title:</label>
                        <input type="text" [(ngModel)]="article.title" name="updatedTitle" id="updatedTitle">
                    </div>
                    <div class="form-group">
                        <label class="text-gray-700 text-sm font-bold" for="updatedLink">Updated Link:</label>
                        <input type="text" [(ngModel)]="article.link" name="updatedLink" id="updatedLink">
                    </div>
                    <button class="bg-gray-400 hover:bg-gray-600 text-white font-bold p-4 m-4 rounded" (click)="saveUpdate(article)">Save</button>
                    <button class="bg-gray-400 hover:bg-gray-600 text-white font-bold p-4 m-4 rounded" (click)="cancelUpdate()">Cancel</button>
                </ng-container>
                <ng-template #displayTitleAndLink>
                    <a class="link" href={{article.link}} title={{article.link}}>{{article.title}}</a>
                </ng-template>
            </div>
        </div>
    </div>
</div>