.article-container {
    text-align: center;
}

/* Article style */
.article-item {
    background-color: cornflowerblue;
    padding: 10px;
    margin: 10px;
}

.vote-value {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.link {
    font-size: 2em;
    font-weight: bold;
}

label {
    padding: 10px;
}

input{
    padding: 5px;
    margin: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:aqua
}