.add-link-form {
    /* width: 800px;
    text-align: center;
    background-color: aquamarine;
    padding: 1em;
    margin: 1em; */
}

.form-error-message {
    color: red;
    font-weight: bold;
}

.default-button {
    color: white;
    background-color:cornflowerblue;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
}
  
  /* Disabled (error) button style */
.error-button {
    color: #888;
    background-color: #ccc;
    border: none;
    padding: 1em;
    margin: 1em;
    cursor: not-allowed;
}