<div class="main-container">
  <form class="add-link-form">
    <h3>Add a link</h3>
    <div class="form-group">
        <label for="title">Title:</label>
        <input name="title" #newTitle>
    </div>
    <div class="form-group">
        <label for="link">Link:</label>
        <input name="link" #newLink>
    </div>
    <button (click)="addArticle(newTitle.value, newLink.value)">Submit link</button>
  </form>
  
  <div class="article-item" *ngFor="let article of sortedArticles()">
    <app-article [article]="article" (remove)="handleArticleRemoval($event)"></app-article>
  </div>
</div>