/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common CSS */
html, body {
  height: 100%;
  margin: 0;
}

.active-link {
  background-color: #007bff;
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 1em;
}

input {
    padding: 5px;
}

/* form validation style */
.form-error-message {
  color: red;
  font-weight: bold;
}

.default-button {
  color: white;
  background-color:cornflowerblue;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}

/* Disabled (error) button style */
.error-button {
  color: #888;
  background-color: #ccc;
  border: none;
  padding: 1em;
  margin: 1em;
  cursor: not-allowed;
}